* {
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
}
body {
  margin:0;
  padding:0;
  font-family:'Helvetica', arial, sans-serif;
}
ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

#shredder {
  position:absolute;
  width:100%;
  height:100%;
}

.shreddie {
  padding:.5em 1.5em;
}
.shreddie.shredding {
  background:url(images/loading.gif) left center no-repeat;
}


/* FILE SHREDDER SVG STYLES */
#file {}
.dragging #file {
  transform: translateY(150px);
}
#file-shredder {
  display:block;
  margin:auto;
  max-width:400px;
}
#file-shredder path {
  stroke-width:5;
  stroke:#1A1A1A;
}
.bucket {
  fill:#333333;
}
.bucket-inner-upper {
  fill:#333333;
}
.bucket-inner {
  fill:#1A1A1A;
}
.rim {
  fill:#b3b3b3;
}
.shredder-mask {
  stroke:none !important;
  stroke-width:0 !important;
}
.shake {
  opacity:0;
  stroke:#FFDC00 !important;
  fill:none;
}
.dragging .shake {
  opacity:1;
}
.insert {
  fill:none;
}
.button {
  fill:#f6f6f6;
}
.button.off {
  fill:#c1272d;
}
.dragging .button.on {
  fill:#39b54a;
}
.dragging .button.off {
  fill:#f6f6f6;
}